In [1]:
'''
3.)	Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.
East West North South

Males	50	142	131	70
Females	550	351	480	350

Dataset==>Buyer Ratio.csv
'''

'\n3.)\tSales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.\nEast West North South\n\nMales\t50\t142\t131\t70\nFemales\t550\t351\t480\t350\n\nDataset==>Buyer Ratio.csv\n'

In [2]:
#Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import stats
from scipy.stats import chi2_contingency

In [3]:
# Load the dataset
df=pd.read_csv("BuyerRatio.csv")

In [4]:
# Display first few rows
df.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [5]:
# Step 1: Create the Contingency Table
# Assuming dataset has columns like 'Region', 'Male', 'Female'
data = df.set_index("Observed Values").T  # Transpose to match expected format

In [6]:
# Step 2: Perform Chi-Square Test
chi2_stat, p_value, dof, expected = chi2_contingency(data)

In [8]:
# Print results
print(f"\nChi-Square Statistic: {chi2_stat:.4f}")

Chi-Square Statistic: 1.5959

In [9]:
print(f"p-value: {p_value:.4f}")

p-value: 0.6603

In [10]:
print(f"Degrees of Freedom: {dof}")

Degrees of Freedom: 3

In [11]:
print("\nExpected Frequencies Table:")
print(pd.DataFrame(expected, columns=df['Observed Values'], index=['East','West','North','South']))

Expected Frequencies Table:
Observed Values       Males      Females
East              42.765313   442.234687
West             146.812879  1518.187121
North            131.117568  1355.882432
South             72.304241   747.695759

In [12]:
# Step 3: Conclusion
if p_value < 0.05:
    print("\nConclusion: Reject the null hypothesis (H0).")
    print("Male-female buyer ratios are NOT similar across regions.\n")
else:
    print("\nConclusion: Fail to reject the null hypothesis (H0).")
    print("Male-female buyer ratios are similar across regions.\n")

Conclusion: Fail to reject the null hypothesis (H0).
Male-female buyer ratios are similar across regions.